.pubg-thumbnail{
    width:350px;
    /* first was 400px */
    margin:10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.10);
    border-radius: 10px;
}
.pubg-overview{
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}
.pubg-image
{
    height: 200px;  
    cursor: pointer;
    /* first was 600px */
}

.pubg-overview::-webkit-scrollbar{
    width:5px;
    background: gray;
    color: navy;
}
.pubg-actions{
  text-align: right;
}
:host{
    height: 100vh;
}

.pubg-container
{
    margin: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    height:100vh;
    overflow-x: auto;
}
.tournamentHeaderCard{
    background-color:ghostwhite;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.10);
    color: midnightblue;
}
.tournamentHeaderCard{
    margin-top: 2%;
    text-align: center;
   
        background-color:white;
        margin-left: 10%;
        width: 80%;
        box-shadow: 10px 19px 38px rgba(10,10,10,10.60), 10px 15px 12px rgba(0,0,0,0.70);
    
    
   
}
.texts{
    color: midnightblue;
}
.pubg-thumbnail:hover {
    box-shadow: 0 0 11px rgba(8103,8883,8883,550); 
    box-shadow: magenta;
  }